{% extends 'main/base2.html' %}

{% block title %}
Select Multiple Months
{% endblock %}

{% block content %}
{% load static %}
{% load custom_template_tags %}
<main class="content">
  {% include "main/includes/header.html" %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
          <li class="breadcrumb-item"><a href="{% url 'all-active-publishers' %}">All Publishers</a></li>
          <li class="breadcrumb-item"><a href="{% url 'choose-category' %}">Select Report Category</a></li>
          <li class="breadcrumb-item active" aria-current="page">Select Month/Year</li>
        </ol>
      </nav>
      <h2 class="h4">Select Months</h2>
      <p class="mb-0"></p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0"><a href="{% url 'choose-category' %}"
        class="btn btn-sm btn-secondary">Back</a>
    </div>
  </div>
  <div class="card card-body border-light shadow-sm table-wrapper table-responsive" style="width:60%; margin:auto">
    {% if messages %}
    <ul class="error-messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'select-multiple-months-report' %}" method="post">
      {% csrf_token %}
      <table class="table user-table table-hover align-items-center" id="datatable">
        <thead>
          <tr>

            <th class="border-bottom">
              <div class="form-check dashboard-check"><input class="form-check-input" type="checkbox" value=""
                  id="userCheck55"> <label class="form-check-label" for="userCheck55"></label></div>
            </th>

            <th class="border-bottom">Months/Year</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            {% for month in month_year_list %}
            <td>
              <div class="form-check dashboard-check"><input class="form-check-input" type="checkbox"
                  value="{{month.id}}" id="userCheck1" name="month_year_id[]"> <label class="form-check-label"
                  for="userCheck1"></label></div>
            </td>
            <td><span class="font-weight-normal ">{{month.month}} {{month.year}}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="form-group mb-4"><label for="Category">Publisher Category</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon3">
            <span class="fas fa-user"></span>
          </span>
          <select class="form-select mb-0" id="Category" name="Category" aria-label="Category" required>
            <option value="one">All Publishers</option>
            <option value="two">Regular Pioneers</option>
            <option value="three">Auxiliary Pioneers</option>
            <option value="four">Elders</option>
            <option value="five">Ministerial Servants</option>
          </select>
        </div>
        <span></span>
      </div>
      <input type="submit" class="btn btn-block btn-primary" value="Proceed" name="proceed" id="proceed" />
    </form>
  </div>

  <footer class="footer section py-5">

  </footer>
</main>
{% include "main/includes/js.html" %}
{% endblock %}