{% extends 'main/base2.html' %}

{% block title %}
Followers: {{ profile.first_name }} {{ profile.last_name }}
{% endblock %}

{% block content %}
{% load static %}
{% load custom_template_tags %}
<style type="text/css">
    .result-item:hover,
    .result-item.hovered {
        cursor: pointer;
    }
</style>
<main class="content">
    {% include "main/includes/header.html" %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div> <a href="/publisher-profile/{{ profile.username }}" class="btn btn-secondary" aria-expanded="false">Back
            </a>
        </div>
        <div>
            <button class="btn btn-primary dropdown-toggle" data-toggle="modal" data-target="#add_follower_Modal"
                id="add" name="add">
                <span class="fas fa-user-plus mr-2"></span>Add Follower
            </button>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-xl-8">
            <div id="transfer-follower-notification-bar" class="">
                <p id="transfer-follower-notification-text" class=""></p>
            </div>
            <div class="card card-body border-light shadow-sm table-wrapper table-responsive">
                <form id="transferFollowerForm">
                    {% csrf_token %}
                    <div class="d-flex mb-3" id="newParent_username_response">
                        <div class="col-sm-4">
                            <input class="form-control" id="search" type="text" name="transfer_follower"
                                placeholder="Search Publisher" />
                            <input id="search_value" type="hidden" name="newParent_username" />
                            <input type="hidden" name="currentParent_username" value="{{profile.username}}" />
                        </div> <button type="button" class="btn btn-sm px-3 btn-primary border-light ml-3"
                            id="transferFollowerFormBtn">Transfer</button>
                    </div>
                    <div id="searchResults"></div>

                    <table class="table user-table table-hover table-striped align-items-center" id="datatable">
                        <thead>
                            <tr>
                                <th class="border-bottom">
                                    <div class="form-check dashboard-check"><input class="form-check-input"
                                            type="checkbox" id=""> <label class="form-check-label"
                                            for=""></label></div>
                                </th>
                                <th class="border-bottom">Name</th>

                                <th class="border-bottom">Status</th>
                                <th class="border-bottom"></th>
                                <th class="border-bottom"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <div class="form-check dashboard-check"><input class="form-check-input"
                                type="checkbox" id="select-all"> <label class="form-check-label"
                                for="select-all"></label></div>

                            {% for follower in followers %}
                            {% publisher_status_tag follower.username as name_tag %}
                            {% first_letter_tag follower.first_name as first_letter %}
                            <tr>
                                <td>
                                    <div class="form-check dashboard-check"><input class="form-check-input follower-id"
                                            type="checkbox" value="{{follower.user_id}}" id="follower_id"
                                            name="follower_id[]" data-user-id="{{follower.user_id}}"> <label
                                            class="form-check-label item-checkbox" for="userCheck1"></label></div>
                                </td>
                                <td>
                                    <a href="{% url 'publisher-profile' follower.username %}"
                                        class="d-flex align-items-center">
                                        {% if image_exists %}
                                        <img src="{% static image_path %}" class="user-avatar rounded-circle mr-3"
                                            alt="Avatar">
                                        {% else %}
                                        <div class="user-avatar bg-secondary mr-3"><span>{{first_letter}}</span></div>
                                        {% endif %}
                                        <div class="d-block"><span
                                                class="font-weight-bold name{{follower.user_id}}">{{follower.first_name}}
                                                {{follower.last_name}}</span>
                                            <div class="small text-gray"><span>Phone: {{follower.phone}}</span>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    {% if follower.status == 'Active' %}
                                    <span class="{{ name_tag }} font-weight-normal text-success"> Active</span>
                                    {% elif follower.status == 'Pending' %}
                                    <span class="{{ name_tag }} font-weight-normal text-success"> Pending</span>
                                    {% else %}
                                    <span class="{{ name_tag }} font-weight-normal text-success"> Deactivated</span>
                                    {% endif %}
                                </td>
                                <td><a class="btn-sm btn-success {{follower.user_id}}" data-toggle="modal"
                                        data-target="#create_full_account__Modal{{follower.user_id}}">Create Full
                                        Account</a></td>
                                <td>
                                    {% if follower.status == 'Pending' %}
                                    <span class="delete" data-id='{{follower.user_id}}' style='cursor:pointer;'>
                                        <a class="btn btn-danger btn-xs"><span class="fas fa-trash-alt"></span></a>
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    {% include "main/includes/profile-card.html" %}
                </div>
            </div>
        </div>
    </div>
    <footer class="footer section py-5">

    </footer>
    {% include "main/includes/modals.html" %}
</main>
{% include "main/includes/js.html" %}
<script>
    window.FOLLOWERS_NUMBER = "{{ no_of_followers }}";
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('addFollowerFormBtn').addEventListener('click', function () {
            // Perform client-side validation if needed
            var no_of_followers = window.FOLLOWERS_NUMBER + 1;
            // Prepare form data
            var formData = new FormData(document.getElementById('add_follower_form'));

            // Make AJAX request
            fetch("{% url 'publisher-add-follower' %}", {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    var notificationBar = document.getElementById('add-follower-notification-bar');
                    var notificationText = document.getElementById('add-follower-notification-text');

                    if (data.success) {
                        // Handle success
                        notificationBar.style.backgroundColor = '#4CAF50';
                        notificationText.innerText = data.message;
                        $('.error-message').remove();
                        setInterval('location.reload()', 5000);

                        // var newRow = "<tr>" +
                        //     '<td><div class="form-check dashboard-check"><input class="form-check-input" type="checkbox"' +
                        //     'value="" id="userCheck1"> <label class="form-check-label"' +
                        //     'for="userCheck1"></label></div></td>' +
                        //     "<td><a href='/publisher-profile/user.username' " +
                        //         'class="d-flex align-items-center">'+
                        //     '<div class="user-avatar bg-secondary mr-3"><span>{{first_letter}}</span></div></td>' +
                        //     '<div class="d-block"><span class="font-weight-bold name{{user.user_id}}">{{user.first_name}}' +
                        //                     '{{user.last_name}}</span>'+
                        //                 '<div class="small text-gray"><span>Phone: {{user.phone}}</span> </div> </div> </a>'+
                        //     '</td>'+
                        //     '<td><span class="{{ name_tag }} font-weight-normal text-success"> Pending</span></td>'+   
                        //     '<td><button class="btn-sm btn-success {{user.user_id}}" data-toggle="modal" '+
                        //            'data-target="#create_full_account__Modal{{user.user_id}}">Create Full '+
                        //             'Account</button></td>'+
                        //      '<td><span class="delete" data-id="{{user.user_id}}"" style="cursor:pointer;">'+
                        //             '<button class="btn btn-danger btn-xs"><span' +
                        //                     'class="fas fa-trash-alt"></span></button>'+
                        //         '</span></td>'+     
                        // "</tr>";
                        // Append the new row to the table body
                        // $('#datatable tbody').append(newRow);

                    } else {
                        notificationBar.style.backgroundColor = '#f44336';  // Red color for error
                        notificationText.innerText = 'Form submission failed. Please check the errors.';
                        console.error(data.errors);  // Log errors to the console for debugging

                        $('.error-message').remove();
                        $.each(data.errors, function (field, messages) {
                            $('#' + field + '_response').after('<span class="error-message" style="color:red;">' + messages.join(', ') + '</span>');
                        });
                    }
                    // $('#add_follower_Modal').modal('hide');

                    // Show the notification bar
                    notificationBar.style.display = 'block';

                    // Hide the notification bar after 3 seconds
                    setTimeout(function () {
                        notificationBar.style.display = 'none';
                    }, 3000);

                    if (data.success) {
                        document.getElementById('add_follower_form').reset();
                        $('.no_of_followers').html(no_of_followers);
                        setTimeout(function () {
                            $('.btn-close').click();
                        }, 4000);


                    }
                })
                .catch(error => {
                    var notificationBar = document.getElementById('add-follower-notification-bar');
                    var notificationText = document.getElementById('add-follower-notification-text');

                    notificationBar.style.backgroundColor = '#f44336';  // Red color for error
                    notificationText.innerText = 'An error occurred during form submission.';
                    notificationBar.style.display = 'block';
                    setTimeout(function () {
                        notificationBar.style.display = 'none';
                    }, 3000);
                });

        });
    });
</script>
<script>
    $(document).ready(function () {
        // Delete 
        $('.delete').click(function () {
            var el = this;

            // Delete id
            var deleteid = $(this).data('id');

            var name = $(".name" + deleteid).text();
            // var lname = $(".last_name"+deleteid).text();

            $.confirm({
                title: 'WARNING!',
                content: 'Are you sure you want to remove ' + name + ' from your followers list?',
                buttons: {
                    Yes: {
                        text: 'Yes',
                        btnClass: 'btn-danger',
                        action: function () {
                            // AJAX Request
                            $.ajax({
                                url: '{% url "delete-follower" %}',
                                type: 'POST',
                                data: {
                                    id: deleteid,
                                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                                },

                                success: function (response) {

                                    if (response == 1) {
                                        // Remove row from Table
                                        $(el).closest('tr').css('background', 'red');
                                        $(el).closest('tr').fadeOut(800, function () {
                                            $(this).remove();
                                        });
                                    } else {
                                        alert('Invalid Selection.');
                                    }

                                }

                            });
                            setInterval('location.reload()', 1000);
                        }
                    },
                    cancel: function () {

                    }
                }
            });

        });

    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('.create_full_account_btn').on('click', function () {
            // Perform client-side validation if needed
            var no_of_followers = window.FOLLOWERS_NUMBER - 1;
            var user_id = $(this).data('id');
            // Prepare form data
            var formData = new FormData(document.getElementById('create_full_account_form' + user_id));

            // Make AJAX request
            fetch("{% url 'publisher-add-follower' %}", {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    var notificationBar = document.getElementById('full-account-notification-bar' + user_id);
                    var notificationText = document.getElementById('full-account-notification-text' + user_id);

                    if (data.success) {
                        // Handle success
                        notificationBar.style.backgroundColor = '#4CAF50';
                        notificationText.innerText = data.message;
                        $('.error-message').remove();
                    } else {
                        notificationBar.style.backgroundColor = '#f44336';  // Red color for error
                        notificationText.innerText = 'Form submission failed. Please check the errors.';
                        console.error(data.errors);  // Log errors to the console for debugging

                        $('.error-message').remove();
                        $.each(data.errors, function (field, messages) {
                            $('#' + field + '_response' + user_id).after('<span class="error-message" style="color:red;">' + messages.join(', ') + '</span>');
                        });
                    }
                    // Show the notification bar
                    notificationBar.style.display = 'block';

                    // Hide the notification bar after 3 seconds
                    setTimeout(function () {
                        notificationBar.style.display = 'none';
                    }, 3000);

                    if (data.success) {
                        document.getElementById('create_full_account_form' + user_id).reset();
                        $('.' + user_id).closest('tr').css('background', 'red');
                        $('.' + user_id).closest('tr').fadeOut(800, function () {
                            $(this).remove();
                        });
                        $('.no_of_followers').html(no_of_followers);

                        setTimeout(function () {
                            $('.btn-close').click();
                        }, 4000);

                    }
                })
                .catch(error => {
                    var notificationBar = document.getElementById('full-account-notification-bar' + user_id);
                    var notificationText = document.getElementById('full-account-notification-text' + user_id);

                    notificationBar.style.backgroundColor = '#f44336';  // Red color for error
                    notificationText.innerText = 'An error occurred during form submission.';
                    notificationBar.style.display = 'block';
                    setTimeout(function () {
                        notificationBar.style.display = 'none';
                    }, 3000);
                });

        });
    });
</script>

<script>
    // JavaScript (jQuery)
    $(document).ready(function () {
        $('#search').on('input', function () {
            var query = $(this).val();

            $.ajax({
                url: '/search/{{ profile.username }}/',  // Replace with your actual endpoint
                data: { 'q': query },
                dataType: 'json',
                success: function (data) {
                    displayResults(data.results);
                }
            });
        });

        function displayResults(results) {
            var resultsContainer = $('#searchResults');
            resultsContainer.empty();

            if (results.length === 0) {
                resultsContainer.hide();
                return;
            }

            resultsContainer.show();

            for (var i = 0; i < results.length; i++) {
                var result = results[i];

                var resultItem = $('<div class="result-item">' + result.name + '</div>');
                resultsContainer.append(resultItem);

                // Use a function to create a new scope for each result
                (function (result) {
                    resultItem.hover(function () {
                        // Add a class when hovering over the result item
                        $(this).addClass('hovered');
                    }, function () {
                        // Remove the class when the mouse leaves the result item
                        $(this).removeClass('hovered');
                    });

                    // You can add click handlers or other interactions for each result item
                    resultItem.click(function () {
                        // Handle item click (e.g., fill the input with the selected item)
                        $('#search').val(result.name);
                        $('#search_value').val(result.username);
                        resultsContainer.hide();
                    });
                })(result);
            }
        }

    });

</script>
<script>

    $(document).ready(function () {
        $('#select-all').change(function () {
            $('.item-checkbox').prop('checked', this.checked);
        });

        // Individual checkbox change event
        $('.item-checkbox').change(function () {
            // Update Select All checkbox based on the status of individual checkboxes
            $('#select-all').prop('checked', $('.item-checkbox:checked').length === $('.item-checkbox').length);
        });


        $('#transferFollowerFormBtn').click(function () {
            // Get the form data
            var formData = $('#transferFollowerForm').serialize();
            // Get the checked checkboxes with a specific class (replace 'your-checkbox-class' with the actual class)
            var checkedCheckboxes = $('.follower-id:checked');
            // Get the user_ids from the checked checkboxes
            var user_ids = checkedCheckboxes.map(function () {
                return $(this).data('user-id');
            }).get();

            // Initialize notification variables
            var finalNotificationColor = '#4CAF50';
            var finalNotificationText = '';

            // Make an AJAX request for each selected follower
            user_ids.forEach(function (user_id, index) {
                var no_of_followers = window.FOLLOWERS_NUMBER - user_ids.length;
                console.log(user_ids.length);

                $.ajax({
                    type: 'POST',
                    url: "{% url 'publisher-add-follower' %}",
                    data: formData,
                    success: function (data) {

                        if (data.success) {
                            // Handle success
                            console.log('Form submitted successfully:', data.message);

                            // Update notification variables based on the last iteration
                            finalNotificationColor = '#4CAF50';
                            finalNotificationTextColor = '#FFFFFF';
                            finalNotificationText = data.message;

                            $('.' + user_id).closest('tr').css('background', 'red');
                            $('.' + user_id).closest('tr').fadeOut(800, function () {
                                $(this).remove();
                            });
                            $('.no_of_followers').html(no_of_followers);

                            // Check if it's the last iteration, then update the notification elements
                            if (index === user_ids.length - 1) {
                                updateNotification(finalNotificationColor, finalNotificationTextColor, finalNotificationText);
                            }
                        } else {
                            // Handle error
                            console.error('Error submitting form:', data.errors);
                            // Handle errors for the specific follower

                            // Update notification variables based on the last iteration
                            finalNotificationColor = '#f44336';
                            finalNotificationTextColor = '#FFFFFF';
                            finalNotificationText = 'Form submission failed. Please check the errors.';

                            console.error(data.errors);

                            $('.error-message').remove();
                            $.each(data.errors, function (field, messages) {
                                $('#' + field + '_response').after('<span class="error-message" style="color:red;">' + messages.join(', ') + '</span>');
                            });

                            // Check if it's the last iteration, then update the notification elements
                            if (index === user_ids.length - 1) {
                                updateNotification(finalNotificationColor, finalNotificationTextColor, finalNotificationText);
                            }
                        }

                    },
                    error: function (error) {
                        // Handle error
                        console.error('Error submitting form:', error);
                    }
                });
            });
        });
        // Function to update notification elements
        function updateNotification(color, textColor, text) {
            var notificationBar = document.getElementById('transfer-follower-notification-bar');
            var notificationText = document.getElementById('transfer-follower-notification-text');

            notificationBar.style.backgroundColor = color;
            notificationText.style.color = textColor;
            notificationText.innerText = text;

            setTimeout(function () {
                notificationBar.style.display = 'none';
            }, 3000);
        }
    });


</script>
{% endblock %}