{% extends 'main/base2.html' %}

{% block title %}
Submit Report
{% endblock %}

{% block content %}
{% load static %}
{% load custom_template_tags %}
<main class="content">
    {% include "main/includes/header.html" %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div> <a href="../dashboard/" class="btn btn-secondary" aria-expanded="false">Dashboard </a>
        </div>
        <div>
            <a href="publisher-report-category.html" class="btn btn-primary dropdown-toggle"><span
                    class="fas fa-clipboard mr-2"></span>Report
            </a>
        </div>
    </div>






    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body bg-white border-light shadow-sm mb-4">
                <h2 class="h5 mb-4">General information</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">First Name</label>
                                <input class="form-control" id="first_name" type="text" placeholder="First Name"
                                    value="{{ profile.first_name }}" disabled />
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Surname</label>
                                <input class="form-control" id="surname" type="text" placeholder="Last Name"
                                    value="{{ profile.last_name }}" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-4 mb-3">
                            <label for="middlename">Middle Name</label>
                            <div class="input-group">

                                <input class="form-control" id="middlename" type="text"
                                    value="{{ profile.middle_name }}" disabled />
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="dob">D.O.B</label>
                            <div class="input-group">

                                <input class="form-control" type="text" value="{{ profile.DOB }}" disabled />
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="last_name">Gender</label>
                                <input class="form-control" id="gender" type="text" placeholder="Gender"
                                    value="{{ profile.gender }}" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" type="email" placeholder="email"
                                    value="{{ profile.email }}" disabled />
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input class="form-control" id="phone" type="number" placeholder="08012345678"
                                    value="{{ profile.phone }}" disabled />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Group</label>
                                <input class="form-control" id="group" type="text" placeholder="Group"
                                    value="Group {{ profile.groupName }}" disabled />
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Username</label>
                                <input class="form-control" id="username" type="text" placeholder="Username"
                                    value="{{ profile.username }}" disabled />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Parent Id">Parent Id</label>
                                <input class="form-control" id="Parent Id" type="text" placeholder="Parent Id"
                                    value="None" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="publisher-profile-settings.html" class="btn btn-primary"><span
                                class="fas fa-cog"></span> Settings</a>
                    </div>
                </form>
            </div>



            <div class="card card-body bg-white border-light mb-4 mb-lg-0">



                <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                    <h2 class="h5 mb-4">Priviledges & Appointments</h2>

                    <a href="publisher-appointments.html" class="btn btn-sm btn-secondary">Appointments</a>
                    <a href="publisher-group-priviledges.html" class="btn btn-sm btn-primary">Group Priviledges</a>
                </div>




                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Administrator</h3>
                            <p class="small pr-4">Access to all features</p>
                        </div>
                        <div>
                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox"
                                    id="user-notification-1" checked="checked"> <label class="form-check-label"
                                    for="user-notification-1"></label></div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Manage Waiting Room</h3>
                            <p class="small pr-4">Priviledge of approving new Publishers</p>
                        </div>
                        <div>
                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox"
                                    id="user-notification-2"> <label class="form-check-label"
                                    for="user-notification-2"></label></div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                        <div>
                            <h3 class="h6 mb-1">Manage Attendance</h3>
                            <p class="small pr-4">Priviledge of managing meeting attendance figures</p>
                        </div>
                        <div>
                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox"
                                    id="user-notification-3" checked="checked"> <label class="form-check-label"
                                    for="user-notification-3"></label></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light text-center p-0">
                        <div class="profile-cover rounded-top" data-background="../../assets/img/profile-cover.jpg">
                        </div>
                        {% if profile.pioneer == "1" %}
                        {% setPioneer "Regular Pioneer" as pioneer %}
                        {% elif profile.pioneer == "2" %}
                        {% setPioneer "Auxiliary Pioneer" as pioneer %}
                        {% else %}
                        {% setPioneer "" as pioneer %}
                        {% endif %}

                        {% if profile.appointment == "1" %}
                        {% setAppointment "Elder" as appointment %}
                        {% elif profile.appointment == "2" %}
                        {% setAppointment "Ministerial Servant" as appointment %}
                        {% else %}
                        {% setAppointment "" as appointment %}
                        {% endif %}
                        <div class="card-body pb-5"><img src="{% static 'main/assets/img/team/profile-picture-1.jpg' %}"
                                class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            <h4 class="h3">{{ profile.first_name }} {{ profile.last_name }}</h4>
                            <h5 class="font-weight-normal">{{ appointment }}</h5>
                            <h5 class="font-weight-normal">{{ pioneer }}</h5>
                            <p class="text-gray mb-4">{{ profile.status }}</p>
                            <a class="btn btn-sm btn-primary mr-2" href="publisher-followers.html"><span
                                    class="fas fa-user mr-1"></span> Followers</a>
                            <a class="btn btn-sm btn-secondary" href="#">Send
                                Message</a>
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <div class="card card-body bg-white border-light shadow-sm mb-4">
                        <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                            <div>
                                <h3 class="h6 mb-1">Restricted Area</h3>
                                <p class="small pr-4">Deactivate/Reactivate Publisher</p>
                            </div>
                            <div>
                                <div class="form-check form-switch"><input class="form-check-input" type="checkbox"
                                        id="user-notification-3"> <label class="form-check-label"
                                        for="user-notification-3"></label></div>

                            </div>
                            <button class="btn btn-sm btn-primary">Apply</button>
                        </li>


                    </div>
                </div>



                <div class="col-12">
                    <div class="card card-body bg-white border-light shadow-sm mb-4">
                        <h2 class="h5 mb-4">Restricted Area</h2>
                        <div class="form-check mb-4">
                            <label class="form-check-label" for="every_record">Delete Every Record of this
                                publisher</label>
                            <input class="form-check-input" type="checkbox" value="" id="every_record"
                                name="every_record" />

                        </div>

                        <div class="form-check mb-4">
                            <label class="form-check-label" for="only_profile">Delete only publisher profile, keep
                                report records</label>
                            <input class="form-check-input" type="checkbox" value="" id="only_profile"
                                name="only_profile" />

                        </div>


                        <div class="d-xl-flex align-items-center">

                            <button class="btn btn-sm btn-danger" id="questionAlert">Delete Publisher</button>


                        </div>
                    </div>
                </div>



            </div>
        </div>






    </div>
    <footer class="footer section py-5">

    </footer>
</main>
{% include "main/includes/js.html" %}
{% endblock %}