{% extends 'main/base2.html' %}

{% block title %}
Profile: {{ profile.first_name }} {{ profile.last_name }}
{% endblock %}

{% block content %}
{% load static %}
{% load custom_template_tags %}
<main class="content">
    {% include "main/includes/header.html" %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div> <a href="../dashboard/" class="btn btn-secondary" aria-expanded="false">Dashboard </a>
        </div>
        <div>
            <a href="publisher-report-category.html" class="btn btn-primary dropdown-toggle"><span
                    class="fas fa-clipboard mr-2"></span>Report
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body bg-white border-light shadow-sm mb-4">
                <h2 class="h5 mb-4">General information</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">First Name</label>
                                <input class="form-control" id="first_name" type="text" placeholder="First Name"
                                    value="{{ profile.first_name }}" disabled />
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Surname</label>
                                <input class="form-control" id="surname" type="text" placeholder="Last Name"
                                    value="{{ profile.last_name }}" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-4 mb-3">
                            <label for="middlename">Middle Name</label>
                            <div class="input-group">

                                <input class="form-control" id="middlename" type="text"
                                    value="{{ profile.middle_name }}" disabled />
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="dob">D.O.B</label>
                            <div class="input-group">

                                <input class="form-control" type="text" value="{{ profile.DOB }}" disabled />
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="last_name">Gender</label>
                                <input class="form-control" id="gender" type="text" placeholder="Gender"
                                    value="{{ profile.gender }}" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" type="email" placeholder="email"
                                    value="{{ profile.email }}" disabled />
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input class="form-control" id="phone" type="number" placeholder="08012345678"
                                    value="{{ profile.phone }}" disabled />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Group</label>
                                {% if profile.groupName == "Non-Publisher" %}
                                <input class="form-control" id="group" type="text" placeholder="Group"
                                    value="{{ profile.groupName }}" disabled />
                                {% else %}  
                                <input class="form-control" id="group" type="text" placeholder="Group"
                                    value="Group {{ profile.groupName }}" disabled />
                                {% endif %}  
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Username</label>
                                <input class="form-control" id="username" type="text" placeholder="Username"
                                    value="{{ profile.username }}" disabled />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Parent Id">Parent user</label>
                                <input class="form-control" id="Parent Id" type="text" placeholder="Parent Id"
                                    value="{{parent}}" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="{{ profile.username }}/settings" class="btn btn-primary"><span
                                class="fas fa-cog"></span> Settings</a>
                    </div>
                </form>
            </div>



            <div class="card card-body bg-white border-light mb-4 mb-lg-0">



                <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                    <h2 class="h5 mb-4">Priviledges & Appointments</h2>

                    <a href="publisher-appointments.html" class="btn btn-sm btn-secondary">Appointments</a>
                    <a href="publisher-group-priviledges.html" class="btn btn-sm btn-primary">Group Priviledges</a>
                </div>




                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Administrator</h3>
                            <p class="small pr-4">Access to all features</p>
                        </div>
                        <div>
                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox"
                                    id="user-notification-1" checked="checked"> <label class="form-check-label"
                                    for="user-notification-1"></label></div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Manage Waiting Room</h3>
                            <p class="small pr-4">Priviledge of approving new Publishers</p>
                        </div>
                        <div>
                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox"
                                    id="user-notification-2"> <label class="form-check-label"
                                    for="user-notification-2"></label></div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                        <div>
                            <h3 class="h6 mb-1">Manage Attendance</h3>
                            <p class="small pr-4">Priviledge of managing meeting attendance figures</p>
                        </div>
                        <div>
                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox"
                                    id="user-notification-3" checked="checked"> <label class="form-check-label"
                                    for="user-notification-3"></label></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                {% include "main/includes/profile-card.html" %}
                <div class="col-12">
                    <div class="card card-body bg-white border-light shadow-sm mb-4">
                        <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                            <div>
                                <h3 class="h6 mb-1">Restricted Area</h3>
                                <p class="small pr-4">Deactivate/Reactivate Publisher</p>
                            </div>
                            <div>
                                <div class="form-check form-switch"><input class="form-check-input" type="checkbox"
                                        id="user-notification-3"> <label class="form-check-label"
                                        for="user-notification-3"></label></div>
                            </div>
                            <button class="btn btn-sm btn-primary">Apply</button>
                        </li>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card card-body bg-white border-light shadow-sm mb-4">
                        <h2 class="h5 mb-4">Restricted Area</h2>
                        <div class="form-check mb-4">
                            <label class="form-check-label" for="every_record">Delete Every Record of this
                                publisher</label>
                            <input class="form-check-input" type="checkbox" value="" id="every_record"
                                name="every_record" />
                        </div>
                        <div class="form-check mb-4">
                            <label class="form-check-label" for="only_profile">Delete only publisher profile, keep
                                report records</label>
                            <input class="form-check-input" type="checkbox" value="" id="only_profile"
                                name="only_profile" />
                        </div>
                        <div class="d-xl-flex align-items-center">
                            <button class="btn btn-sm btn-danger" id="questionAlert">Delete Publisher</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer section py-5">

    </footer>
</main>
{% include "main/includes/js.html" %}
{% endblock %}