{% extends 'main/base2.html' %}

{% block title %}
Profile Settings: {{ profile.first_name }} {{ profile.last_name }}
{% endblock %}

{% block content %}
{% load static %}
{% load custom_template_tags %}
<main class="content">
  {% include "main/includes/header.html" %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div> <a href="/publisher-profile/{{ profile.username }}" class="btn btn-secondary" aria-expanded="false">Back </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="card card-body bg-white border-light shadow-sm mb-4">
        <div id="notification-bar" class="notification-bar">
          <p id="notification-text" class="notification-text"></p>
        </div>
        <h2 class="h5 mb-4">Settings</h2>
        <form id="updateProfileForm">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 mb-3">
              <div>
                <label for="first_name">First Name</label>
                <input class="form-control" id="first_name" name="first_name" type="text" placeholder="First Name"
                  value="{{profile.first_name}}" />
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div>
                <label for="last_name">Surname</label>
                <input class="form-control" id="surname" name="surname" type="text" placeholder="Last Name"
                  value="{{profile.last_name}}" />
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-4 mb-3">
              <label for="middlename">Middle Name</label>
              <div class="input-group">
                <input class="form-control" id="middlename" name="middlename" type="text"
                  value="{{profile.middle_name}}" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="middlename">D.O.B</label>
              <div class="input-group">
                <input class="form-control" id="dob" name="dob" type="date" value="{{profile.DOB}}" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="gender">Gender</label>
              <select class="form-select mb-0" id="gender" name="gender" aria-label="Gender select example">
                <option selected value="{{profile.gender}}">{{gender}}</option>
                <option value="F">Female</option>
                <option value="M">Male</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 mb-3">
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" type="email" placeholder="email"
                  value="{{profile.email}}" />
              </div>
            </div>
            <div class="col-sm-4 mb-3">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input class="form-control" id="phone" name="phone" type="number" placeholder="08012345678"
                  value="{{profile.phone}}" />
              </div>
            </div>
            <div class="col-sm-4 mb-3">
              <div class="form-group">
                <label for="phone">Confirm Phone</label>
                <input class="form-control" id="confirm_phone" name="confirm_phone" type="number" placeholder="phone"
                  value="{{profile.phone}}" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 mb-3">
              <label for="gender">Group</label>
              <select class="form-select mb-0" id="group" name="group" aria-label="Group" {{disabled}}>
                {% if profile.groupName == "Non-Publisher" %}
                <option value="{{profile.groupName}}">{{profile.groupName}}</option>
                {% else %}
                <option value="{{profile.groupName}}"> Group {{profile.groupName}}</option>
                {% endif %}
                <option value="1">Group 1</option>
                <option value="2">Group 2</option>
                <option value="3">Group 3</option>
                <option value="4">Group 4</option>
                <option value="5">Group 5</option>
                <option value="Non-Publisher">Non-Publisher</option>

              </select>
            </div>
            <div class="col-sm-4 mb-3">
              <div class="form-group">
                <label for="city">Username</label>
                <input class="form-control" id="username" type="text" placeholder="Username"
                  value="{{profile.username}}" disabled />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="Parent Id">Parent Id</label>
                <input class="form-control" id="Parent Id" type="text" placeholder="Parent Id" value="{{parent}}"
                  disabled />
              </div>
            </div>
          </div>
          <input type="hidden" name="id" value="{{profile.id}}">
          <div class="mt-3">
            <button type="button" class="btn btn-primary" id="updateProfileFormBtn">Save All</button>
          </div>
        </form>
      </div>
      {% if profile.username == profile.parent_id %}
      <div class="card card-body bg-white border-light shadow-sm mb-4" style="width: 70%; margin: auto;">
        <div id="password-notification-bar" class="password-notification-bar">
          <p id="password-notification-text" class="password-notification-text"></p>
        </div>
        <form id="changePasswordForm">
          {% csrf_token %}
          <legend class="h6" style="margin-top: 40px;">Change Password</legend>
          <div class="form-group mb-4"><label for="password">Password</label>
            <div class="input-group" id="password_response"><span class="input-group-text" id="basic-addon4">
                <span class="fas fa-unlock-alt"></span>
              </span>
              <input type="password" class="form-control" id="password" name="password" type="text" required />
            </div>
          </div>
          <div class="form-group mb-4"><label for="confirm_password">Confirm Password</label>
            <div class="input-group" id="confirm_password_response">
              <span class="input-group-text" id="basic-addon4">
                <span class="fas fa-unlock-alt"></span>
              </span>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" type="text"
                required />
            </div>
          </div>
          <input type="hidden" name="update-password-process-id" value="{{profile.id}}">
          <div class="mt-3">
            <button type="button" class="btn btn-primary" id="changePasswordFormBtn"
              name="changePasswordFormBtn">Save</button>
          </div>
        </form>
        <!--generate Password-->
        <input type="hidden" id="generate-password-process-id" value="{{profile.id}}">
        <button type="button" class="btn btn-block btn-outline-danger generatePasswordBtn" name="generate_password"
          id="generate_password" style="margin-top: 20px;">Generate Password</button>
        <!--generate Password-->
        <div class="result"></div>
      </div>
      {% endif %}
    </div>
    <div class="col-12 col-xl-4">
      <div class="row">
        {% include "main/includes/profile-card.html" %}
        <div class="col-12">
          <div class="card card-body bg-white border-light shadow-sm mb-4">
            <h2 class="h5 mb-4">Select profile photo</h2>
            <div class="d-xl-flex align-items-center">
              <div>
                <div class="user-avatar xl-avatar mb-3"><img class="rounded"
                    src="../../assets/img/team/profile-picture-3.jpg" alt="change avatar"></div>
              </div>
              <div class="file-field">
                <div class="d-flex justify-content-xl-center ml-xl-3">
                  <div class="d-flex"><span class="icon icon-md"><span class="fas fa-paperclip mr-3"></span></span>
                    <input type="file">
                    <div class="d-md-block text-left">
                      <div class="font-weight-normal text-dark mb-1">Choose Image</div>
                      <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer section py-5">

  </footer>
</main>
{% include "main/includes/js.html" %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('updateProfileFormBtn').addEventListener('click', function () {
      // Perform client-side validation if needed

      // Prepare form data
      var formData = new FormData(document.getElementById('updateProfileForm'));

      // Make AJAX request
      fetch('/publisher-profile/settings/update', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          var notificationBar = document.getElementById('notification-bar');
          var notificationText = document.getElementById('notification-text');

          if (data.success) {
            // Handle success
            notificationBar.style.backgroundColor = '#4CAF50';  // Green color for success
            notificationText.innerText = data.message;
            $('.error-message').remove();
            $('.name').html(data.first_name + ' ' + data.last_name);
          } else {
            // Handle validation errors
            notificationBar.style.backgroundColor = '#f44336';  // Red color for error
            notificationText.innerText = 'Form submission failed. Please check the errors.';
            console.error(data.errors);  // Log errors to the console for debugging

            $('.error-message').remove();

            // Display new error messages
            $.each(data.errors, function (field, messages) {
              // Append error messages to the corresponding form fields
              $('#' + field).after('<span class="error-message" style="color:red;">' + messages.join(', ') + '</span>');
            });
          }

          // Show the notification bar
          notificationBar.style.display = 'block';

          // Hide the notification bar after 3 seconds
          setTimeout(function () {
            notificationBar.style.display = 'none';
          }, 3000);

          if (data.errors) {
            document.getElementById('updateProfileForm').reset();
          }
        })
        .catch(error => {
          // Handle other errors
          var notificationBar = document.getElementById('notification-bar');
          var notificationText = document.getElementById('notification-text');

          notificationBar.style.backgroundColor = '#f44336';  // Red color for error
          notificationText.innerText = 'An error occurred during form submission.';

          // Show the notification bar
          notificationBar.style.display = 'block';

          // Hide the notification bar after 3 seconds
          setTimeout(function () {
            notificationBar.style.display = 'none';
            // document.getElementById('updateProfileForm').reset();
          }, 3000);
          // Reset the form
          // document.getElementById('updateProfileForm').reset();
        });
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('changePasswordFormBtn').addEventListener('click', function () {
      // Perform client-side validation if needed

      // Prepare form data
      var formData = new FormData(document.getElementById('changePasswordForm'));

      // Make AJAX request
      fetch('/publisher-profile/settings/update/password', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          var notificationBar = document.getElementById('password-notification-bar');
          var notificationText = document.getElementById('password-notification-text');

          if (data.success) {
            // Handle success
            notificationBar.style.backgroundColor = '#4CAF50'; // Green color for success
            notificationBar.style.color = '#FFFFFF';
            notificationText.innerText = data.message;
            $('.error-message').remove();
            $('.result').html('');
          } else {
            // Handle validation errors
            notificationBar.style.backgroundColor = '#f44336';  // Red color for error
            notificationBar.style.color = '#FFFFFF';
            notificationText.innerText = 'Form submission failed. Please check the errors.';
            console.error(data.errors);  // Log errors to the console for debugging

            // Display new error messages
            $.each(data.errors, function (field, messages) {
              // Append error messages to the corresponding form fields
              $('#' + field + '_response').after('<span class="error-message" style="color:red;">' + messages.join(', ') + '</span>');
            });

            setTimeout(function () {
              $('.error-message').remove();
            }, 6000);
          }

          // Show the notification bar
          notificationBar.style.display = 'block';

          // Hide the notification bar after 3 seconds
          setTimeout(function () {
            notificationBar.style.display = 'none';
          }, 3000);

          if (data.success) {
            document.getElementById('changePasswordForm').reset();
          }
        })
        .catch(error => {
          // Handle other errors
          var notificationBar = document.getElementById('password-notification-bar');
          var notificationText = document.getElementById('password-notification-text');

          notificationBar.style.backgroundColor = '#f44336';  // Red color for error
          notificationText.innerText = 'An error occurred during form submission.';

          // Show the notification bar
          notificationBar.style.display = 'block';

          // Hide the notification bar after 3 seconds
          setTimeout(function () {
            notificationBar.style.display = 'none';
          }, 3000);
        });
    });
  });
</script>
<script>
  window.CSRF_TOKEN = "{{ csrf_token }}";
  $(document).ready(function () {
    $('.generatePasswordBtn').click(function (e) {
      e.preventDefault();
      var id = $('#generate-password-process-id').val();

      // Get the CSRF token from the global variable
      var csrftoken = window.CSRF_TOKEN;

      $.ajax({
        type: "POST",
        url: "/publisher-profile/settings/update/password",
        data: { "id": id, "flag": "auto-generate" },
        headers: {
          'X-CSRFToken': csrftoken
        },
        success: function (data) {
          if (data.success) {
            $('.result').html('<div style="color:green; margin-left:20%">'+data.message+'</div>');
          }
        }
      });
    });
  });
</script>
{% endblock %}