<!DOCTYPE html><html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Profile: Mcdavid Emeruwa</title>
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="title" content="">
<meta name="author" content="">
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="canonical" href="">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="twitter:card" content="">
<meta property="twitter:url" content="">
<meta property="twitter:title" content="">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="">
  <link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../../assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="../../assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link type="text/css" href="../../vendor/%40fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link type="text/css" href="../../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
  <link type="text/css" href="../../vendor/notyf/notyf.min.css" rel="stylesheet">
  <link type="text/css" href="../../vendor/fullcalendar/main.min.css" rel="stylesheet">
  <link type="text/css" href="../../vendor/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
  <link type="text/css" href="../../vendor/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">
  <link type="text/css" href="../../vendor/leaflet/dist/leaflet.css" rel="stylesheet">
  <link type="text/css" href="../../css/volt.css" rel="stylesheet">
 
</head>

<body>
  <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none"><a class="navbar-brand mr-lg-5"
    href="../dashboard/dashboard.html"><img class="navbar-brand-dark" src="../../assets/img/brand/light.svg" alt="Volt logo"> <img
      class="navbar-brand-light" src="../../assets/img/brand/dark.svg" alt="Volt logo"></a>
  <div class="d-flex align-items-center"><button class="navbar-toggler d-md-none collapsed" type="button"
      data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
      aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button></div>
</nav>



<!--Navbar Start-->

<nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse" data-simplebar>
<div class="sidebar-inner px-4 pt-3">
  <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
    <div class="d-flex align-items-center">
      <div class="user-avatar lg-avatar mr-4"><img src="../../../../assets/img/team/profile-picture-3.jpg"
          class="card-img-top rounded-circle border-white" alt="Bonnie Green"></div>
      <div class="d-block">
        <h2 class="h6">Hello, McDavid</h2><a href="../../sign-in.html" class="btn btn-secondary text-dark btn-xs"><span
            class="mr-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
      </div>
    </div>
    <div class="collapse-close d-md-none"><a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
        aria-label="Toggle navigation"></a></div>
  </div>
  <ul class="nav flex-column pt-3 pt-md-0">
    <li class="nav-item"><a href="../dashboard/dashboard.html"><span class="nav-link collapsed d-flex justify-content-between align-items-center"
        data-toggle="collapse" data-target="#submenu-dashboard"><span><span class="sidebar-icon"><span
              class="fas fa-chart-pie"></span></span> <span class="sidebar-text">Dashboard</span> </span></span></a>
     
    </li>

    <li class="nav-item"><a href="../all-publishers/all-publishers.html" class="nav-link"><span class="sidebar-icon"><span
            class="fas fa-user"></span></span> <span class="sidebar-text">Publishers</span></a></li>
    
    <li class="nav-item"><a href="../groups/all-groups.html" class="nav-link"><span class="sidebar-icon"><span
            class="fas fa-table"></span></span> <span class="sidebar-text">Groups</span></a></li>

     <li class="nav-item"><a href="../attendance/attendance-choose-month-year.html" class="nav-link"><span class="sidebar-icon"><span
                class="fas fa-clipboard-list"></span></span> <span class="sidebar-text">Attendance</span></a></li>       

               



 
  </ul>
</div>
</nav>

<!--Navbar End-->




<main class="content">
<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark pl-0 pr-2 pb-0">
  <div class="container-fluid px-0">
    <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
      <div class="d-flex align-items-center"><button id="sidebar-toggle"
          class="sidebar-toggle mr-3 btn btn-icon-only btn-lg btn-circle d-none d-md-inline-block"><span
            class="fas fa-bars"></span></button>
        <form class="navbar-search form-inline" id="navbar-search-main">
          <div class="input-group input-group-merge search-bar"><span class="input-group-text"
              id="topbar-addon"><span class="fas fa-search"></span></span> <input type="text" class="form-control"
              id="topbarInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="topbar-addon">
          </div>
        </form>
      </div>

        <!-- Waiting Room -->
      <ul class="navbar-nav align-items-center">
        <li class="nav-item dropdown"><a class="nav-link text-dark mr-lg-3 icon-notifications"
            data-unread-notifications="true" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><span class="icon icon-sm"><span class="fas fa-bell bell-shake"></span> <span
                class="icon-badge rounded-circle unread-notifications"></span></span></a>
          <div class="dropdown-menu dashboard-dropdown dropdown-menu-lg dropdown-menu-center mt-2 py-0">
            <div class="list-group list-group-flush"><a href="../dashboard/waiting-room.html"
                class="text-center text-primary font-weight-bold border-bottom border-light py-3">Waiting Room</a>
              <a href="../dashboard/waiting-room.html" class="list-group-item list-group-item-action border-bottom border-light">
                <div class="row align-items-center">
                  <div class="col-auto"> <img alt="Image placeholder"
                      src="../../assets/img/team/profile-picture-1.jpg"
                      class="user-avatar lg-avatar rounded-circle"></div>
                  <div class="col pl-0 ml--2">
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <h4 class="h6 mb-0 text-small">Mcdavid Emeruwa</h4>
                      </div>
                      <div class="text-right"><small class="text-danger">a few moments ago</small></div>
                    </div>
                    <!-- <p class="font-small mt-1 mb-0">Added you to an event "Project stand-up" tomorrow at 12:30 AM.
                    </p> -->
                  </div>
                </div>
              </a><a href="../dashboard/waiting-room.html" class="list-group-item list-group-item-action border-bottom border-light">
                <div class="row align-items-center">
                  <div class="col-auto"> <img alt="Image placeholder"
                      src="../../assets/img/team/profile-picture-2.jpg"
                      class="user-avatar lg-avatar rounded-circle"></div>
                  <div class="col pl-0 ml--2">
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <h4 class="h6 mb-0 text-small">Samuel Abikorigho</h4>
                      </div>
                      <div class="text-right"><small class="text-danger">2 hrs ago</small></div>
                    </div>
                    <!-- <p class="font-small mt-1 mb-0">You've been assigned a task for "Awesome new project".</p> -->
                  </div>
                </div>
              </a>
               
              
              <a href="../dashboard/waiting-room.html" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
            </div>
          </div>
        </li>
        <!-- Waiting Room -->
        <li class="nav-item dropdown"><a class="nav-link pt-1 px-0" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="media d-flex align-items-center"><img class="user-avatar md-avatar rounded-circle"
                alt="Image placeholder" src="../../assets/img/team/profile-picture-3.jpg">
              <div class="media-body ml-2 text-dark align-items-center d-none d-lg-block"><span
                  class="mb-0 font-small font-weight-bold">McDavid Emeruwa</span></div>
            </div>
          </a>


          <div class="dropdown-menu dashboard-dropdown dropdown-menu-right mt-2"><a
              class="dropdown-item font-weight-bold" href="../publisher-profile/publisher-profile.html"><span class="far fa-user-circle"></span>My Profile</a>
            
            <a class="dropdown-item font-weight-bold" href="#"><span
                class="fas fa-envelope-open-text"></span>Messages</a> 
            <div role="separator" class="dropdown-divider"></div><a class="dropdown-item font-weight-bold"
              href="../../sign-in.html"><span class="fas fa-sign-out-alt text-danger"></span>Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>






<!--Loading Logo-->
  <div class="preloader bg-soft flex-column justify-content-center align-items-center"><img
      class="loader-element animate__animated animate__jackInTheBox" src="../../assets/img/brand/light.svg" height="60"
      alt="Volt logo">
    </div>
<!--Loading Logo-->






    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
     
      <div> <a href="publisher-profile.html"
          class="btn btn-secondary" 
          aria-expanded="false">Back </a>
      
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-8">
        <div class="card card-body bg-white border-light shadow-sm mb-4" style="width: 70%; margin: auto;">
            <form>
            <div class="col-lg-3 col-sm-6 mt-4 mt-md-0">
                <fieldset>
                  <legend class="h6">Appoint as</legend>
                  <div class="form-check"><input class="form-check-input" type="radio" name="appoint"
                      id="exampleRadios1" value="Elder"> <label class="form-check-label"
                      for="exampleRadios1">Elder</label></div>
                  <div class="form-check"><input class="form-check-input" type="radio" name="appoint"
                      id="exampleRadios2" value="Ministerial Servant"> <label class="form-check-label"
                       for="exampleRadios2">Ministerial Servant</label></div>

                       <div class="form-check"><input class="form-check-input" type="radio" name="appoint"
                        id="exampleRadios3" value="None"> <label class="form-check-label"
                         for="exampleRadios2">None</label></div>
                  
                </fieldset>
            </div>
              <legend class="h6">Appoint as</legend>
              <div class="form-check mb-4">
                <label class="form-check-label" for="pioneer">Regular Pioneer</label>
                <input class="form-check-input" type="checkbox" value="" id="pioneer" name="pioneer" /> 
              
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>

        <form>

              <legend class="h6" style="margin-top: 40px;">Appoint as Auxiliary Pioneer</legend>

              <div class="form-group mb-4"><label for="surname">Start Date</label>
                <div class="input-group"><span class="input-group-text"
                        id="basic-addon4"> 
                        <span class="far fa-calendar-alt"></span>
                    </span>
                    <input data-datepicker="" class="form-control" id="start_date" name="start_date" type="text" placeholder="dd/mm/yyyy"
                    required /></div>
                <span></span>
            </div>


            <div class="form-group mb-4"><label for="Phone">End Date</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon4">
                        <span class="far fa-calendar-alt"></span>
                    </span>
                    <input data-datepicker="" class="form-control" id="end_date" name="end_date" type="text" placeholder="dd/mm/yyyy"
                    required
                        />
                </div>
                <span></span> <span></span>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
              



              
        </div>



      </div>
      <div class="col-12 col-xl-4">
        <div class="row">
          <div class="col-12 mb-4">
            <div class="card border-light text-center p-0">
              <div class="profile-cover rounded-top" data-background="../../assets/img/profile-cover.jpg"></div>
              <div class="card-body pb-5"><img src="../../assets/img/team/profile-picture-1.jpg"
                  class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                <h4 class="h3">McDavid Emeruwa</h4>
                <h5 class="font-weight-normal">Ministerial Servant</h5>
                <h5 class="font-weight-normal">Regular Pioneer</h5>
                <p class="text-gray mb-4">Active</p>
                <!-- <a class="btn btn-sm btn-primary mr-2" href="#"><span
                    class="fas fa-user-plus mr-1"></span> Connect</a> <a class="btn btn-sm btn-secondary" href="#">Send
                  Message</a> -->
              </div>
            </div>
          </div>
          
        
         
        </div>
      </div>
    </div>
    <footer class="footer section py-5">
     
    </footer>
  </main>
  <script src="../../vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>
  <script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>
  <script src="../../vendor/jarallax/dist/jarallax.min.js"></script>
  <script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="../../vendor/countup.js/dist/countUp.umd.js"></script>
  <script src="../../vendor/chartist/dist/chartist.min.js"></script>
  <script src="../../vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
  <script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
  <script src="../../vendor/simple-datatables/dist/umd/simple-datatables.js"></script>
  <script src="../../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
  <script src="../../../../../../cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
  <script src="../../vendor/fullcalendar/main.min.js"></script>
  <script src="../../vendor/dropzone/dist/min/dropzone.min.js"></script>
  <script src="../../vendor/choices.js/public/assets/scripts/choices.min.js"></script>
  <script src="../../vendor/notyf/notyf.min.js"></script>
  <script src="../../vendor/leaflet/dist/leaflet.js"></script>
  <script src="../../vendor/svgmap/dist/svgMap.min.js"></script>
  <script src="../../vendor/simplebar/dist/simplebar.min.js"></script>
  <script async defer="defer" src="../../../../../../buttons.github.io/buttons.js"></script>
  <script src="../../assets/js/volt.js"></script>
</body>


</html>