
{% extends 'main/base1.html' %}

{% block title %}
 Create Account
{% endblock %}

{% block content %}
{% load static %}
<body>

 <main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
      <div class="container">
        <p class="text-center">
          <a href="/" class="text-gray-700"><i class="fas fa-angle-left mr-2"></i> Back</a></p>
        <div class="row justify-content-center form-bg-image" data-background-lg="{% static 'main/assets/img/illustrations/signin.svg' %}">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="mb-4 mb-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
              <div class="text-center text-md-center mb-4 mt-md-0">
                <h1 class="mb-0 h3">Create an account</h1>
              </div>


              <form id="sign_up_form" method="post">
                {% csrf_token %}
                <div class="form-group mb-4"><label for="First Name">First Name</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">
                      <span class="fas fa-user-check"></span>
                    </span>
                      {{form.first_name}}<br>
                  </div>
                  <span>(Required)</span>
                  <span class="txt"></span>
                </div>


                <div class="form-group mb-4"><label for="Middle Name">Middle Name</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">
                      <span class="fas fa-user-check"></span>
                    </span>
                    {{form.middle_name}}

                  </div>
                  <span>(Optional)</span>
                </div>
                <div class="form-group mb-4"><label for="surname">Surname</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">
                      <span class="fas fa-user-check"></span>
                    </span>
                    {{form.last_name}}
                  </div>
                  <span>(Required)</span> <span></span>
                </div>

                <div class="form-group mb-4"><label for="gender">Gender</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">
                      <span class="fas fa-user-check"></span>
                    </span>
                    {{form.gender}}
                  </div>
                  <span>(Required)</span> <span></span>
                </div>

                <div class="form-group mb-4"><label for="email">Your Email</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">
                      <span class="fas fa-envelope"></span>
                    </span>
                    {{form.email}}
                  </div>
                  <span>(Optional)</span> <span></span>
                </div>



                <div class="form-group mb-4"><label for="Phone">Phone Number</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">
                      <span class="fas fa-phone"></span>
                    </span>
                    {{form.phone}}
                  </div>
                  <span>(Required)</span> <span></span> <span></span>
                </div>

                <div class="form-group mb-4"><label for="Confirm Phone">Confirm Phone Number</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">
                      <span class="fas fa-phone"></span>
                    </span>
                    {{form.phone2}}
                  </div>
                  <span>(Required)</span> <span></span> <span></span>
                </div>

                <div class="form-group">
                  <div class="form-group mb-4">
                    <label for="password">Your Password</label>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon4">
                        <span class="fas fa-unlock-alt"></span>
                      </span>
                      {{form.password1}}
                    </div>
                    <span>(Required)</span> <span></span></span>
                  </div>


                  <div class="form-group mb-4"><label for="confirm_password">Confirm Your Password</label>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon5">
                        <span class="fas fa-unlock-alt"></span>
                      </span>
                      {{form.password2}}
                    </div>
                    <span>(Required)</span> <span></span> <span></span>
                   

                  </div>



                </div>
                {{form.username}}
                <button type="submit" class="btn btn-block btn-primary" id="sign-up-button">Submit</button>
              </form>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <span class="font-weight-normal">Already have an account? <a href="/login/"
                    class="font-weight-bold">Login here</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $('document').ready(function(){
    var phone_state = true;
   
    $('#phone').on('blur', function(){
     var phone = $('#phone').val();
     var parent_username = $('#parent_username').val();
     $.ajax({
       url: '{% url "check-follower-phone-exist" %}',
       type: 'post',
       data: {
           'phone_check_sign_up' : 3,
           'phone' : phone,
           'parent_username' : parent_username,
           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
       },
       success: function(response){
         if (response == 'taken' ) {
             phone_state = false;
             $('#phone').parent().removeClass();
             $('#phone').parent().addClass("form_error");
             $('#phone').siblings("span").text('Sorry...Phone already taken');
             $('#phone').focus();
             $('#phone').siblings("span").show();
             $('#sign-up-button').prop('disabled', true);
         }else if (response == 'not_taken') {
             phone_state = true;
             $('#phone').parent().removeClass();
             $('#phone').parent().addClass("form_success");
             $('#phone').siblings("span").text('Phone available');
             $('#phone').siblings("span").show();
             $('#sign-up-button').prop('disabled', false);
         }else if (response == 'not_number') {
             phone_state = false;
             $('#phone').parent().removeClass();
             $('#phone').parent().addClass("form_error");
             $('#phone').siblings("span").text('Only digits allowed');
             $('#phone').focus();
             $('#phone').siblings("span").show();
             $('#sign-up-button').prop('disabled', true);
         }else {
             phone_state = false;
             $('#phone').siblings("span").hide();
             $('#sign-up-button').prop('disabled', true);
         }
       }
     });
    });		
     
   });

</script>
<style>
      .error{
      color: red;
      }
      label,
      /* input, */
      button {
      border: 0;
      margin-bottom: 3px;
      display: block;
      width: 100%;
      }

      .common_box_body {
      padding: 15px;
      border: 12px solid #28BAA2;
      border-color: #28BAA2;
      border-radius: 15px;
      margin-top: 10px;
      background: #d4edda;
      }

      .form_error span {
      width: 80%;
      height: 35px;
      margin: 3px 10%;
      font-size: 1.1em;
      color: #D83D5A;
      }
      .form_error input {
      border: 1px solid #D83D5A;
      }

      /*Styling in case no errors on form*/
      .form_success span {
      width: 80%;
      height: 35px;
      margin: 3px 10%;
      font-size: 1.1em;
      color: green;
      }
      .form_success input {
      border: 1px solid green;
      }
</style>
<script src="{% static 'main/external/js/jquery.validate.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#sign_up_form').validate({
    
      rules: {
        first_name: {
          required: true
        },

        last_name: {
          required: true
        },

        gender: {
          required: true
        },


        email: {
          required: false,
          email: true
        },

        phone: {
          required: true,
          rangelength: [11, 11],
          number: true
        },


        phone2: {
          required: true,
          rangelength: [11, 11],
          number: true,
          equalTo: "#phone"
        },  

        
        password1: {
          required: true,
          minlength: 6
        },
        password2: {
          required: true,
          equalTo: "#password"
        }

       
      },
      messages: {
        first_name: 'Please enter Name.',
        last_name: 'Please enter your Last Name.',
        gender: 'Please select your Gender.',
       
        email: {
          // required: 'Please enter Email Address.',
          email: 'Please enter a valid Email Address.',
        },
        phone: {
          required: 'Please enter your phone number.',
          rangelength: 'Contact should be 11 digit number.'
        },
        phone2: {
          required: 'Please enter Confirm Phone.',
          equalTo: 'Confirm Phone do not match with Password.',
        },
        password1: {
          required: 'Please enter Password.',
          minlength: 'Password must be at least 6 characters long.',
        },
        password2: {
          required: 'Please enter Confirm Password.',
          equalTo: 'Confirm Password do not match with Password.',
        }
      },
      submitHandler: function (form) {
        form.submit();
      }
    });
  });
</script>
{% endblock %}